/*.flip-card-inner {*/
/*    position: relative;*/
/*    transform-style: preserve-3d;*/
/*    transition: transfrom 0.5s;*/
/*}*/
/*.flip-card-front,*/
/*.flip-card-back {*/
/*    position: absolute;*/
/*}*/

/*.flip-card-front,*/
/*.flip-card-back,*/
/*.flip-card-inner {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.flip-card {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*}*/

/*.flip-card-front {*/
/*    background-color: aquamarine;*/
/*    color: white;*/
/*}*/

/*.flip-card-back {*/
/*    background-color: purple;*/
/*    transform: rotateY(180deg);*/
/*    color: white;*/
/*}*/

/*.flip-card-inner:hover {*/
/*    transform: rotateY(180deg);*/
/*    transition: transform 1s;*/
/*}*/



